.App {
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto;
  color: palevioletred;
}
input {
  border: 2px solid pink;
  height: 30px;
  width: 200px;
}
button {
  border: 2px solid pink;
  background-color: transparent;
  color: palevioletred;
  padding: 5px 55px;
}
button:hover {
  cursor: pointer;
}
.todolist-card {
  border: 2px solid pink;
  margin: 10px;
  padding: 20px;
  width: 300px;
}
.todolist {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.todolist-card > div {
  display: flex;
  justify-content: space-between;
}
form > div {
  display: flex;
  align-items: center;
}
form > button {
  font-size: 20px;
  font-weight: bolder;
}
